/* styles.css */
.root-vbox {
    -fx-background-color: linear-gradient(to bottom right, #12c2e9, #c471ed, #f64f59), repeating-linear-gradient(45deg, rgba(255, 255, 255, 0.1) 0 10px, rgba(0, 0, 0, 0.1) 10px 20px);
    -fx-background-blend-mode: overlay;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 0, 0, 20, 0);
    -fx-background-insets: 0, 10;
    -fx-background-radius: 15;
    -fx-padding: 20;
}

.button {
    -fx-scale-x: 0.9524;
    -fx-scale-y: 0.9524;
    -fx-background-color: rgba(255, 127, 80, 0.6); /* 按钮默认颜色，包含透明度 */
    -fx-text-fill: rgba(255, 255, 255, 1); /* 文字颜色，保持不透明 */
    -fx-padding: 15px; /* 按钮内边距 */
    -fx-background-radius: 10px; /* 按钮圆角 */
}

.button:hover {
    -fx-scale-x: 1.05; /* 悬停时放大 */
    -fx-scale-y: 1.05;
    -fx-background-color: rgba(255, 99, 71, 0.8); /* 鼠标悬停时的颜色，包含透明度 */
}

.button:pressed {
    -fx-background-color: rgba(255, 69, 0, 0.9); /* 按钮被按下时的颜色，包含透明度 */
}

.cell-label {
    -fx-font-family: "Arial";
    -fx-font-weight: NORMAL;
    -fx-text-fill: #333333;
    -fx-alignment: center;
}